*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.niente{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: #253240;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #E64C60;
    text-align: center;
    display: flex;
}

.logg{

    width: 300px;
    height: 100%;
    color: #E64C60;
    text-align: center;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    flex-direction: row;
    justify-content: center;
}

.login{
    align-self: center;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.register{
    align-self: center;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.user{
    align-self: center;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.logout{
    align-self: center;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.logoutTit{
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #E64C60;
    font-size: 30px;
    text-align: center;
    align-self: center;
}

.title{
    align-self: center;
    padding: 5px;
}

.cnt{
    width: 100%;
    height: auto;
    background: #303F50;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner{
    width: 80%;
    height: 150px;
    background: #E64C60;
    border-radius: 20px;
    margin-top: 10px;
    align-self: center;
    display: flex;
    justify-content: center;
}

.reddit-title{
    align-self: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #9BCAF1;
    font-size: 65px;
}

.cnt-data{
    align-self: center;
    display: flex;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.top10{

    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.saved{

    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #253240;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.saved-title{
    width: 100%;
    height: 80px;
    background: #253240;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.last3{
    width: 100%;
    height: 400px;
    border: 3px solid #253240;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last3-title{

    align-self: center;
    color: #E64C60;
    font-family: 'Roboto Condensed', sans-serif;

}

.card-data{

    width: 85%;
    height: 100px;
    background-color: aliceblue;
    align-self: center;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.round-img{
    align-self: center;
    width: 80px;
    height: 80px;
    border: 3px solid #303F50;
    margin-left: 15px;
    border-radius: 40px;
}

.img{
    display: block;
    width: 100%;
    height: 100%;
}

.cnt-text{
    align-self: center;
    width: 60%;
    height: 90%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.source{
    align-self: center;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.source2{
    align-self: center;
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.who{
    width: 100%;
    height: 40%;
    color: #fff;
    background: #00A6A5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.delete{
    width: 100%;
    height: 30px;
    color: #fff;
    background: #DF1A25;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top:10px;
    cursor: pointer;
}

.who-tit{

    text-align: center;
    align-self: center;
    font-size: 12px;

}

.savePin{

    width: 100%;
    height: 30px;
    color: #fff;
    background: #F79202;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top:4px;
    margin-bottom:3px;
    cursor: pointer;

}

.savPin-tit{

    text-align: center;
    align-self: center;
    font-size: 12px;

}

.when{

    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;

}

.time{
    text-align: center;
    color: #AEB2B7;
}



@media only screen and (max-width: 600px) {
 
    .saved{
        display: none;
    }
    
    .top10{
        width:100%;
    }

    .reddit-title{
        font-size: 43px;
    }

    .when{
        margin-bottom: 10px;
        font-size: 12px;
    }
}